* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./app/assets/kelly-sikkema-9OAIhxq-Nwg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3b441d3d;
        background-blend-mode: overlay; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


