* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./app/assets/photo-1570429034317-7d99c74c15b7.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #3b441d0a;
        background-blend-mode: overlay; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


